# LOGISTIC REGRESSION

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('adult.data.csv',na_values=' ?',header =None,names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','gender','capital-gain','capital-loss','hours-per-week','native-country','income'])
#na_values define which cell has to make nan by default it is whitespace.....

ModuleNotFoundError: No module named 'pandas'

In [2]:
df.isnull().sum()

age                 0
workclass         104
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        105
relationship        1
race                1
gender              1
capital-gain        1
capital-loss        1
hours-per-week      1
native-country     34
income              1
dtype: int64

In [3]:
df_new=df.dropna(inplace=True)# this is for droping misssing value 
#df_new=df.dropna(inplace=true) now it will work on original dataset

In [4]:
#df.head()

In [5]:
df.isnull().sum()# to find misssing values...

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
gender            0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [6]:
df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
education-num       int64
marital-status     object
occupation         object
relationship       object
race               object
gender             object
capital-gain      float64
capital-loss      float64
hours-per-week    float64
native-country     object
income             object
dtype: object

In [7]:
df.income.value_counts()#give unique value of that column
#df.age.value_counts()

 <=50K    1108
 >50K      371
Name: income, dtype: int64

In [8]:

#recall or roc_auc_score --> for balancing data

In [9]:
size_mapping={' <=50K':0,' >50K':1}

In [10]:
#label encoding...
df['income']=df['income'].map(size_mapping)

In [11]:
#df.head()

In [12]:
df.income.value_counts()

0    1108
1     371
Name: income, dtype: int64

In [13]:
#df_new.isnull().sum()

# build model using unprocess data

In [14]:
df.shape

(1479, 15)

In [15]:
df_1=df

In [16]:
df_1=df_1.select_dtypes(exclude=['object'])

In [17]:
df_1.shape

(1479, 7)

In [18]:
df_1.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income
0,39,77516,13,2174.0,0.0,40.0,0
1,50,83311,13,0.0,0.0,13.0,0
2,38,215646,9,0.0,0.0,40.0,0
3,53,234721,7,0.0,0.0,40.0,0
4,28,338409,13,0.0,0.0,40.0,0

In [19]:
#x=df_1.iloc[:,:].values
x_new=df_1.drop('income',1)#1 is for axis..1 means searching in colomn for income....

In [20]:
#x_new

In [21]:
#y=df_1.iloc[:,:6].values
y_new=df_1.income

In [22]:
#y_new

In [23]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import roc_auc_score

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x_new,y_new,test_size=.99,random_state=0)

In [25]:
log1=LogisticRegression()

In [26]:
log1.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [27]:
y_pos=[]
for i in log1.predict_proba(x_test):
    y_pos.append(i[1])

In [28]:
#y_p=[i[1] for i in log1.predict_proba(x_test)]

In [29]:
roc_auc_score(y_test,y_pos)

0.6014380946729175