# Multiple linear regression

In [1]:
#it is to learn more about the relationship b/w several independent variables and a dependent variable

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv("C:\\Users\\Raushan\\Desktop\\MACHINE LEARNING\\LINEAR REGRESSION\\6_Linear Regression\\dataset\\50_Startups.csv")

In [4]:
#print(data)

In [5]:
#data.head()

In [6]:
#x1=data.iloc[:,0].values
#x2=data.iloc[:,1].values
#x3=data.iloc[:,2].values
#y=data.iloc[:,4].values

# Example to understand ordinal nd one hot encoding feature

In [7]:
df=pd.DataFrame([['green',"L",10.30,"class1"],['red',"M",12.30,"class2"],['blue',"XL",18.30,"class3"]])

In [8]:
df.columns=["color","size","price","target"]

In [9]:
df

   color size  price  target
0  green    L   10.3  class1
1    red    M   12.3  class2
2   blue   XL   18.3  class3

In [10]:
#XL>L>M makes mathematical order   ------ordinal 
#while green>red>blue does not make sense

In [11]:
size_mapping={'M':1,'L':2,'XL':3}

In [12]:
#label encoding...
df['size']=df['size'].map(size_mapping)

In [13]:
df['size']

0    2
1    1
2    3
Name: size, dtype: int64

In [14]:
print(df)

   color  size  price  target
0  green     2   10.3  class1
1    red     1   12.3  class2
2   blue     3   18.3  class3

In [15]:
#one hot encoding..
f=pd.get_dummies(df['color'])

In [16]:
df.dtypes

color      object
size        int64
price     float64
target     object
dtype: object

In [17]:
g=df.select_dtypes(exclude=['object'])

In [18]:
g

   size  price
0     2   10.3
1     1   12.3
2     3   18.3

In [19]:
n_df=pd.concat((g,f),axis=1)

In [20]:
n_df

   size  price  blue  green  red
0     2   10.3     0      1    0
1     1   12.3     0      0    1
2     3   18.3     1      0    0

In [21]:
#label encoding....
c={'class1':0,'class2':1,'class3':2}
df['target']=df.target.map(c)

In [22]:
df

   color  size  price  target
0  green     2   10.3       0
1    red     1   12.3       1
2   blue     3   18.3       2

In [23]:
#df.drop('target',axis=1,inplace=True) ----for deleting particular column

In [24]:
n_df

   size  price  blue  green  red
0     2   10.3     0      1    0
1     1   12.3     0      0    1
2     3   18.3     1      0    0

# Continue previous example....

In [25]:
data_new=data.iloc[:,:-1]

In [26]:
data_new.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [27]:
data2=pd.get_dummies(data_new[data_new.columns])#it will create dummy for all label of non numeric but if we have to create dummy for particular then we have pass column name 
#create dummy variable

In [28]:
data2.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0

In [29]:
data2.shape

(50, 6)

In [30]:
from sklearn.model_selection import train_test_split #for splitting

In [31]:
x=data2.iloc[:,:].values

In [32]:
y=data.iloc[:,4].values

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=0)

In [34]:
print(x_train.shape)

(35, 6)

In [35]:
print(x_test.shape)

(15, 6)

In [36]:
#x_train.head()

In [37]:
#x_test

In [38]:
#y_train

In [39]:
#y_test

In [40]:
from sklearn.linear_model import LinearRegression 
reg=LinearRegression()

In [41]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [42]:
print(reg.coef_)
reg.intercept_

[ 7.90840255e-01  3.01968165e-02  3.10148566e-02 -2.55942855e+02
  2.07086137e+02  4.88567184e+01]

42659.81372552848

In [43]:
y_pred=reg.predict(x_test)

In [44]:
y_pred

array([104282.76472171, 132536.88499212, 133910.85007767,  72584.77489417,
       179920.9276189 , 114549.31079233,  66444.43261347,  98404.96840122,
       114499.82808602, 169367.50639895,  96522.6253998 ,  88040.6718287 ,
       110949.99405525,  90419.1897851 , 128020.46250064])

In [45]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.9358680970046518

In [46]:
#plt.scatter(x_train['R&D Spend'],y_train,color='red')   #training data
#plt.scatter(X_test,y_test,color='blue')   #testing data
#plt.scatter(x_test,y_pred,color='black')   #testing data
#plt.plot(x_train,reg.predict(x_train.reshape(-1,1)),color='green')
#plt.ylabel('profit')
#plt.show()

In [47]:
import seaborn as sb

In [48]:
#for housing............
#from sklearn.datastes import load-boston